<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Расписание</title>
    <meta charset="UTF-8">
    <!-- <meta name="format-detection" content="telephone=no"> -->
    <link rel="stylesheet" href="css//style.css">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="wrapper">
    <main class="page">
        <div class="header">
            <div class="logo">
                <div class="Logo">
                    <img src="vec_img/логотип.svg" alt="логотип">
                </div>
            </div>
            <div class="text-block">
                <h1>Добро пожаловать на ИВТ</h1>
                <p>- это место, где сочетаются традиции и инновации, где студенты получают не только фундаментальные знания, но и практические навыки, необходимые для успешной карьеры в сфере информационных технологий.</p>
            </div>
        
        </div>
        <div class="container">
            <div id="преподы" class="block">
                <div class="photos">
                    <div id="левые-фото" class="hphotos">
                        <div id="чалый" class="photo-prepod">
                            <img src="images/чалый.png" alt="Чалый">
                        </div>
                        <div id="под-текст">
                            <p>Глазкова - заместитель деакна по воспитательной работе</p>
                        </div>
                        <div id="перс3" class="photo-prepod">
                            <img src="/images/лавровская.png" alt="лавровская">
                        </div>
                    </div>
                    <div id="правые-фото" class="hphotos">
                        <div id="под-текст">
                            <p>Чалый - деакан факультета</p>
                        </div>
                        <div id="перс2" class="photo-prepod">
                            <img src="images/глазкова.png" alt="глазкова">
                        </div>
                        <div id="под-текст">
                            <p>Лавровская - заместитель деакана</p>
                        </div>
                    </div>
                    
                    
                </div>
                <div id="текст блинчикова" class="text-block">
                    <p>Факультет Информационных и вычислительных технологий - это настоящая кузница талантов, где преподаватели высокого класса делятся своими знаниями и опытом с молодыми специалистами. Здесь студенты изучают самые современные технологии и языки программирования, учатся разрабатывать сложные программные продукты и решать нетривиальные задачи.</p>
                </div>
            </div>
            <div id="окна-направлений" class="block">
                <div class="photo-mesto">
                    <img src="/images/ученые.png" alt="ученые">
                </div>
                <div class="text-block">
                    <p>Научная деятельность на факультете ИВТ представлена передовыми исследовательскими направлениями. Среди них компьютерная лингвистика, занимающаяся изучением естественных языков (языки, на которых мы говорим), их обработкой с помощью программных методов и имитацией человеческой речи с помощью искусственного интеллекта (ИИ). Также на факультете ведутся изыскания и в более фундаментальных, теоретических дисциплинах. Решаются задачи на графах, исследуется проблема NP-полноты, разрабатываются новые статистические методы для обработки больших данных, конструируются новые модели нейронных сетей и многое другое.</p>
                </div>
            </div>
            <div id="мероприятия" class="block">
                <div class="photo-mesto">

                </div>
                <div class="big-text">
                    <p>Здесь существует множество студенческих проектов и инициатив, направленных на развитие навыков и умений. Студенты участвуют в турнирах по спортивному программированию, хакатонах, научных конференциях и других мероприятиях, которые помогают им расти профессионально и лично.</p>
                </div>
            </div>
            <div id="отзывы" class="block">
                <div id="левые" class="otzivi">
                    <div class="text-block">
                        <p>Однаждый выбрала именно факультет ИВТ ЯрГу им. Демидова и ни разу не пожалела об этом. Учебная программа не сильно легкая, зато интересная. Больше всего мне нравится, то что у нас на факультете много возможностей для активных студентов и точек роста как для профессиональной деятельности, так и в других интересных для меня сферах.</p>
                    </div>
                    <div class="text-block">
                        
                    </div>
                </div>
                <div id="правые" class="otzivi">
                    <div class="text-block">
                        
                    </div>
                    <div class="text-block">
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div class="footer">
            <div id="текст-подвала">
                <div class="icon">
                    
                </div>
                <div class="icon">
                    <img src="/vec_img/logo.svg" alt="логотип">
                </div>
                <div class="icon">

                </div>
            </div>
        </div>
    </main>

</div>
</body>
</html>