<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Расписание</title>
    <meta charset="UTF-8">
    <!-- <meta name="format-detection" content="telephone=no"> -->
    <link rel="stylesheet" href="scss/style.css">
    <link rel="shortcut icon" href="/vec_img/логотип.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="wrapper">
    <main class="page">
        <div class="header">
            <div class="logo">
                <div class="Logo">
                    <img src="vec_img/логотип.svg" alt="логотип">
                </div>
            </div>
            <div class="text-block">
                <h1>Добро пожаловать на ИВТ</h1>
                <h2>Извините но наш сайт не поддерживает ваше устройство :(</h2>
                <p>- это место, где сочетаются традиции и инновации, где студенты получают не только фундаментальные знания, но и практические навыки, необходимые для успешной карьеры в сфере информационных технологий.</p>
            </div>
        
        </div>
        <div class="container">
            <div id="преподы" class="block">
                <div class="photos">
                    <div id="левые-фото" class="hphotos">
                        <div id="чалый" class="photo-prepod">
                            <img src="images/чалый.png" alt="Чалый">
                        </div>
                        <div id="под-текст">
                            <p>Н. А. Глазкова - заместитель деакна по воспитательной работе</p>
                        </div>
                        <div id="перс3" class="photo-prepod">
                            <img src="/images/лавровская.png" alt="лавровская">
                        </div>
                    </div>
                    <div id="правые-фото" class="hphotos">
                        <div id="под-текст">
                            <p>Д. Ю. Чалый - деакан факультета</p>
                        </div>
                        <div id="перс2" class="photo-prepod">
                            <img src="images/глазкова.png" alt="глазкова">
                        </div>
                        <div id="под-текст">
                            <p>О. Б. Лавровская - заместитель деакана</p>
                        </div>
                    </div>
                    
                    
                </div>
                <div id="текст блинчикова" class="text-block">
                    <p>Факультет Информационных и вычислительных технологий - это настоящая кузница талантов, где преподаватели высокого класса делятся своими знаниями и опытом с молодыми специалистами. Здесь студенты изучают самые современные технологии и языки программирования, учатся разрабатывать сложные программные продукты и решать нетривиальные задачи.</p>
                </div>
            </div>
            <div id="окна-направлений" class="block">
                <div class="border">
                    <img src="/vec_img/окно1.svg" alt="окно">
                </div>
                <div class="photo-mesto">
                    <img src="/images/ученые.jpeg" alt="окно">
                </div>
                <div class="text-block">
                    <p>Научная деятельность на факультете ИВТ представлена передовыми исследовательскими направлениями. Среди них компьютерная лингвистика, занимающаяся изучением естественных языков (языки, на которых мы говорим), их обработкой с помощью программных методов и имитацией человеческой речи с помощью искусственного интеллекта (ИИ). Также на факультете ведутся изыскания и в более фундаментальных, теоретических дисциплинах. Решаются задачи на графах, исследуется проблема NP-полноты, разрабатываются новые статистические методы для обработки больших данных, конструируются новые модели нейронных сетей и многое другое.</p>
                </div>
            </div>
            <div id="мероприятия" class="block">
                <div class="photo-mesto">

                </div>
                <div class="big-text">
                    <p>Здесь существует множество студенческих проектов и инициатив, направленных на развитие навыков и умений. Студенты участвуют в турнирах по спортивному программированию, хакатонах, научных конференциях и других мероприятиях, которые помогают им расти профессионально и лично.</p>
                </div>
            </div>
            <div id="отзывы" class="block">
                <div id="левые" class="otzivi">
                    <div id="odin" class="text-block">
                        <img src="/images/полина.png" alt="Полина">
                        <p>Полина Горбачева - студентка группы ИВТ-12:</p>
                        <p>Я выбрала именно факультет ИВТ ЯрГу им. Демидова и ни разу не пожалела об этом. Учебная программа сложная, но интересная. Больше всего мне нравится, то что у нас на факультете много возможностей для активных студентов и точек роста как для проф. деятельности, так и в других интересных для меня сферах.</p>
                    </div>
                    <div id="dva" class="text-block">
                        <img src="/images/Евгения.png" alt="Евгения">
                        <p>Шалаева Евгения - студентка группы ИВТ-13:</p>
                        <p>Обучение в ЯрГУ им. Демидова - это не только получение качественного образования, но и возможность раскрыть свой потенциал, приобрести ценный опыт и незабываемые впечатления. Я с удовольствием участвовала в различных мероприятиях, которые не только развлекали, но и обогащали меня духовно и интеллектуально.
                            Я искренне рекомендую ЯрГУ всем, кто стремится получить качественное образование и яркие студенческие годы.</p>
                    </div>
                </div>
                <div id="правые" class="otzivi">
                    <div id="tri" class="text-block">
                        <img src="/images/Денис.png" alt="Денис">
                        <p>Матвеев Денис - студент группы ИТ-12:</p>
                        <p>ЯрГУ чудесный университет, который с первых дней учебы показывается себя с лучших сторон
                            Сильный педагогический состав, возможность самореализации в совершенно разных областях, а также очень комфортные условия!</p>
                    </div>
                    <div id="chetire" class="text-block">
                        <img src="/images/Блинов.png" alt="Блинов">
                        <p>Александр Блинов - студент группы ПИЭ-12:</p>
                        <p>ЯрГУ является довольно-таки сильным университетом: по данным за 2019 год Ярославский ВУЗ занял 45 место среди других университетов. Здесь хорошие преподаватели, которые могут пойти навстречу.
                            Из ЯрГУ выпускаются подкованные выпускники, которые могут найти хорошую работу
                            </p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="footer">
            <div id="текст-подвала">
                <div class="icon">
                    <img src="/vec_img/СБО.svg" alt="СБО">
                </div>
                <div class="icon">
                    <img src="/vec_img/logo.svg" alt="логотип">
                </div>
                <div class="icon">
                    <img src="/vec_img/ВК.svg" alt="ВК">
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>